{% extends 'main.html' %}
{% load static %}

{% block content %}

<div>
    <p>
    <table id="table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th> Name </th>
                <th> Amount </th>
                <th> Date </th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for income in incomes reversed %}
                <td> {{ income.item }} </td>
                <td> {{ income.amount }} </td>
                <td> {{ income.date|date:" d/m/Y" }} </td>
                <td>
                    <a class="btn btn-success btn-info" href="/incomes/{{ income.id }}"
                        style="float:left; margin-left: 10px">Details</a>
                    <a class="btn btn-danger btn-info" href="/incomes/delete/{{ income.id }}"
                        style="float:right">delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </p>

    <script>
        $(function () {
            $("table").dataTable({
                "oLanguage": {
                    "sUrl": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/English.json"
                }
            });
        });
    </script>
</div>

{% endblock %}